<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>DoWithLess</string>
	<string>GapInLine</string>
	<string>Canning</string>
	<string>WorkToWin</string>
	<string>FairShare</string>
	<string>Gunpowder</string>
	<string>MakeItStretch</string>
	<string>WeCanDoIt</string>
</array>
</plist>
